/** 
 * RapidTable Styles
 * Customize these styles to match your application's design
 */

 .rapid-table-wrapper {
  margin-top: 2rem;
  display: flow-root;
}

.rapid-table-scroll-wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  overflow-x: auto;
}

@media (min-width: 640px) {
  .rapid-table-scroll-wrapper {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

@media (min-width: 1024px) {
  .rapid-table-scroll-wrapper {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.rapid-table-container {
  display: inline-block;
  min-width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: middle;
}

@media (min-width: 640px) {
  .rapid-table-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .rapid-table-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.rapid-table-outer {
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@media (min-width: 640px) {
  .rapid-table-outer {
    border-radius: 0.5rem;
  }
}

.rapid-table {
  min-width: 100%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: rgb(209 213 219);
}

.rapid-table-header {
  background-color: rgb(249 250 251);
}

.rapid-table-header-cell {
  padding: 0;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(17 24 39);
}

.rapid-table-header-cell > * {
  display: block;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
}

@media (min-width: 640px) {
  .rapid-table-header-cell > * {
    padding-left: 1.5rem;
  }
}

.rapid-table-header-cell > a {
  background-color: rgb(229 231 235);
}

.rapid-table-header-cell > a:hover {
  background-color: rgb(229 231 235);
}

.rapid-table-header-sort-order {
  display: inline-block;
  line-height: 1;
  margin-left: 0.25rem;
  font-size: 0.5rem;
}

.rapid-table-header-actions {
  position: relative;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 0.75rem;
  padding-right: 1rem;
  text-align: right;
  color: rgb(17 24 39);
}

@media (min-width: 640px) {
  .rapid-table-header-actions {
    padding-right: 1.5rem;
  }
}

.rapid-table-body {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: rgb(229 231 235);
  background-color: rgb(255 255 255);
}

.rapid-table-cell {
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(17 24 39);
}

@media (min-width: 640px) {
  .rapid-table-cell {
    padding-left: 1.5rem;
  }
}

.rapid-table-cell .fan-standing {
  color: rgb(17 24 39);
}

.rapid-table-actions-cell {
  position: relative;
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  padding-right: 1rem;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

@media (min-width: 640px) {
  .rapid-table-actions-cell {
    padding-right: 1.5rem;
  }
}

.rapid-table-select {
  padding: 0.5rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.375rem;
  background-color: rgb(255 255 255);
  color: rgb(0 0 0);
}

.rapid-table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.rapid-table-empty-message {
  text-align: center;
}

.rapid-table-paginate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rapid-table-paginate nav.pagination {
  display: inline-flex;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  isolation: isolate;
}

.rapid-table-paginate .page a,
.rapid-table-paginate .next a,
.rapid-table-paginate .prev a,
.rapid-table-paginate .first a,
.rapid-table-paginate .last a {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(209 213 219);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 0 1px inset rgb(55 65 81);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow);
}

.rapid-table-paginate .page a:hover,
.rapid-table-paginate .next a:hover,
.rapid-table-paginate .prev a:hover,
.rapid-table-paginate .first a:hover,
.rapid-table-paginate .last a:hover {
  background-color: rgb(55 65 81);
  color: rgb(255 255 255);
}

.rapid-table-paginate .page a:focus,
.rapid-table-paginate .next a:focus,
.rapid-table-paginate .prev a:focus,
.rapid-table-paginate .first a:focus,
.rapid-table-paginate .last a:focus {
  z-index: 20;
  outline-offset: 0;
}

.rapid-table-paginate .page.current {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  background-color: rgb(79 70 229);
  color: rgb(255 255 255);
}

.rapid-table-paginate .page.current:focus {
  z-index: 20;
}

.rapid-table-paginate .page.current:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rapid-table-paginate .page.current:focus-visible {
  outline: 2px solid rgb(79 70 229);
}

.rapid-table-paginate .first a {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rapid-table-paginate .last a {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.rapid-table-paginate .gap {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgb(209 213 219);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 0 1px inset rgb(55 65 81);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow);
}

